<script src="https://www.gstatic.com/charts/loader.js"></script>
<app-navbar></app-navbar>
<div class="jumbotron not-margin">
    <div class="jumbo-container">
        <h1 class="title-project"></h1>      
    </div>
</div>
<div class="container">

    <div class="planification-title-container">
        <span class="planification-title">Planification</span>
        <i (click)="refreshPlan()" class="fa fa-refresh fa-2x" aria-hidden="true"></i>
    </div>
    <hr class="hr-planification">

    <div id="loading_for_plan" class="loading_spinner"></div>
    <div class="plan-span data-founded" [hidden]="plan?.length !== 0"></div>
    <div id="timeline"></div>

    <div class="margin-features-planification">
        <span class="planification-title">Features not assigned</span>
    </div>
    <hr class="hr-planification">
    <div class="not-assigned-span data-founded" [hidden]="featuresNotAssigned?.length !== 0"></div>

</div>


<!-- Modal to inform errors -->
<div class="modal fade" id="error-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Error Message</h5>
        </div>
        <div class="modal-body text-center">
          <p id="error-text"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

